* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel {
    display: flex;
    justify-content: center;
}

.carousel .slide {
    height: 80vh;
}

.carousel .slide img {
    max-height: 100%;
    width: auto;
}

.image {
    margin-top:20%;
    transform: translate(0, -50%);
}

@media only screen and(max-width:1200px) { 
    .carousel {
        height: 90vh;
    }

    .carousel .slide img {
        margin: 10vh auto;
        width: 100vw;
    }
}

@media only screen and(max-width:900px) { 
    .carousel {
        height: 80vh;
    }
}

@media only screen and(max-width:750px) { 
    .carousel {
        height: 70vh;
    }
}

@media only screen and(max-width:650px) { 
    .carousel {
        height: 60vh;
    }

}

@media only screen and(max-width:500px) { 
    .carousel {
        height: 50vh;
    }

}



